*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper-logo{
    width: 100%;
    height: 60px;
    max-width: 245px;
    display: flex;
    position: fixed;
    display: inline-block;
}