.c-header {
  position: absolute;
  z-index: 100;
  right: 0;
  left: 0;
  top: 0;

  &__wrapper {
    padding-bottom: 67px;
    align-items: center;
    padding-top: 55px;
    display: flex;
  }

  &__navigation {
    width: 100%;
  }
}