* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.contact-us {
  text-align: center;
  background-color: #11364e;
  height: 820px;
 font-size: 38px;
 display: flex;
    flex-direction: column;
  letter-spacing: -0.5px;
  vertical-align: top;
  color: white;
  align-content: center;
    justify-content: center;
    align-items: center;
}


.container {
  max-width: 1170px;
  margin: 0 auto;

}

.c-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
}

.form__wrapper {
  margin: 0 auto;
  height: 440px;
  
}
.contact-us__wrapper-container {
  width: 370px;
  max-width: 375px;
}
.c-form__item-title {
  text-align: left;
  line-height: 17px;
  font-size: 13px;
  font-style: medium;
}

.form-item {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  font-size: 16px;
  opacity: 20%;
  width: 370px;
  height: 55px;
}
textarea{
  margin-top: 10px;
  margin-bottom:36px;
}

.c-form__item-title {
  line-height: 17px;
}

.form-item::placeholder {
  line-height: 22px;
}
.button{
  border-radius: 3px;
  background-color:#FF7F57;
  margin: 20px auto 0 auto;
  width: 370px;
  height: 60px;
}