@font-face {
	font-family: "Emblema One";
	src: url("./EmblemaOne-Regular.woff"), 
	     url("./EmblemaOne-Regular.ttf"); 
}

        body { 
          color: #000000;
            background-color: #d2b48c;
            margin-left: 20%;
            margin-right: 20%;
            border: px dotted black;
            padding: 10px 10px 10px 10px;
            font-family: sans-serif;
        }
    
body {
  font-family:    'Segoe UI', Tahoma, sans-serif;
  font-size:       small;
}
head {
  font-family: monospace, monospace;
text-align: center;
}
nav {
  font-family: monospace, monospace;
  text-align: center;

}
div {
  font-family: monospace, monospace;
  text-align: center;
}

footer {
  color: #FFFFFF;
  margin: 5px;
    border: 5px solid #E95B11;
    background-color:#000000;;
    width: 100%;
    text-align: center;
    margin-top: 30%;
    margin-right: 0%;
    margin-bottom: 0%;
    margin-left: 0%;
}