@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Rubik:wght@400;500;700&display=swap');
:root {
    --green: #8DD83D;
    --purple:#2B076E;
    --dark: #373A3C;
    --white: #FFF;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--dark);
    color: var(--white);
}
.header {
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1070px;
    margin-top: 11px;
    margin: 0 auto;
    display: flex;
}
.nav {
    list-style-type: none;
    align-items: center;
    padding-left: 0;
    display: flex;
    margin: 0;
}
.nav-item {
    margin-left: 32px;
}
.nav-link {
    color: var(--white);
    opacity: ;
    text-decoration: none;
    font-size: 16px;
}