* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #3b3f45;
  font-size: 26px;
}

header {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #e67b7c;
  background: #4a4f56;
  padding: 20px;
  text-align: center;
  margin-bottom: 40px;
}
h3 {
  padding-top: 10px;
}
.section1,
.section2,
.section3,
.section4,
.section5,
.section6 {
  background: #88839e;
  background-clip: padding-box;
  padding: 10px;
  color: #f1ede7;
  margin-left: 25%;
  margin-right: 25%;
}
/* Зміна кольору на секції */
.section1:hover {
  background: #7a7593;
  border: 3px solid #f1ede7;
  border-left: none;
  border-right: none;
  transition: all 1s ease-in;
  text-decoration: line-through;
  color: #88839e;
}
.section2:hover {
  background: #7a7593;
  border: 3px solid #f1ede7;
  border-left: none;
  border-right: none;
  text-decoration: line-through;
  color: #88839e;
}
.section3:hover {
  background: #7a7593;
  border: 3px solid #f1ede7;
  border-left: none;
  border-right: none;
  text-decoration: line-through;
  color: #88839e;
}
.section4:hover {
  background: #7a7593;
  border: 3px solid #f1ede7;
  border-left: none;
  border-right: none;
  text-decoration: line-through;
  color: #88839e;
}
.section3:hover {
  background: #7a7593;
  border: 3px solid #f1ede7;
  border-left: none;
  border-right: none;
  text-decoration: line-through;
  color: #88839e;
}
.section4:hover {
  background: #7a7593;
  border: 3px solid #f1ede7;
  border-left: none;
  border-right: none;
  text-decoration: line-through;
  color: #88839e;
}
.section5:hover {
  background: #7a7593;
  border: 3px solid #f1ede7;
  border-left: none;
  border-right: none;
  text-decoration: line-through;
  color: #88839e;
}
.section6:hover {
  background: #7a7593;
  border: 3px solid #f1ede7;
  border-left: none;
  border-right: none;
  text-decoration: line-through;
  color: #88839e;
}

/* Секція 7 */
.section7 {
  background: #4a4f56;
  background-clip: padding-box;
  margin-left: 25%;
  margin-right: 25%;
  padding: 10px;
  color: #eb7e7f;
  margin-top: 40px;
  text-align: center;
}
/* кнопки додому  */
.button {
  border: 1px solid #eb7e7f; /* Рамка */
  display: inline;
  padding: 5px 15px; /* Поля */
  text-decoration: none; /* Убираем подчёркивание */
  color: #000; /* Цвет текста */
  background-color: #88839e;
  text-align: center;
}
.button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Тень */
  background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
  color: #a00;
}
.button2 {
  border: 1px solid #eb7e7f; /* Рамка */
  display: inline;
  padding: 5px 15px; /* Поля */
  text-decoration: none; /* Убираем подчёркивание */
  color: #000; /* Цвет текста */
  background-color: #88839e;
  margin-left: 2px;
  text-align: center;
}
.button2:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Тень */
  background: linear-gradient(to bottom, #fcfff4, #e9e9ce); /* Градиент */
  color: #a00;
}
nav {
  text-align: center;
}
