

body {
  background-color: #90A2C6;
  
}
.container {
  margin-left: 20%;
  margin-right: 20%;
  border: 15px double #bdabf8;
  padding: 10px 10px 10px 10px;
  font-family: 'Open Sans Condensed', sans-serif;
  border-radius: 70px;
}
header {
  direction: ltr;
}

h1, h3 {
  color: black;
  padding-left:20px;
}

h2,
p {
  color: black;
  border-bottom: thin dotted #888888;
}

div {
  text-align: left;
  margin-bottom: 15px;
}
footer {
  color: #ffffff;
  border: solid #e698d3;
  background-color: #bdabf8;
  width: 100%;
  text-align: center;
  border-radius: 70px;
  margin-bottom: 20px;
}
.languages {
  border: 15px double #bdabf8;
  width: 300px;
  border-radius: 70px;
  text-align:justify;
  padding-left:20px;
}
.certificates {
  border: 15px double #bdabf8;
  border-radius: 70px;
  text-align:justify;
  width: 320px;
  margin-left: 400px;
  margin-bottom: 100px;
}
.quality {
  border: 15px double #bdabf8;
  width: 300px;
  border-radius: 70px;
  text-align:justify;
  padding-left:20px;
}
nav {
  border-radius: 70px;
}
