@font-face {
  font-family: "Emblema One";
  src: url("./EmblemaOne-Regular.woff"), url("./EmblemaOne-Regular.ttf");
}

body {
  background-color: #d2b48c;
  margin-left: 20%;
  margin-right: 20%;
  border: 2px dotted black;
  padding: 10px 10px 10px 10px;
  font-family: sans-serif;
}
header {
  direction: ltr;
}

h1 {
  color: #cc6600;
  border-bottom: thin dotted #888888;
}

h2,
p {
  color: #cc6600;
  border-bottom: thin dotted #888888;
}

div {
  width: 35px;
  height: 5px;
  background-color: rgb(117, 114, 114);
  margin: 6px 0;
  margin-left: 80%;
  margin-right: 80%;
}
footer {
  color: #ffffff;
  margin: 5px;
  border: 5px solid #000000;
  padding: 5px;
  background-color: #000000;
  width: 100%;
  text-align: center;
}
