mixin banner()
  .c-banner
    //- Banner background image
    .c-banner__background
      img(src="assets/images/bitmap.png" alt="Banner background").c-banner__background__image
    .c-banner__wrapper.wrapper
      .c-banner__content 
        h1.c-banner__title Musicians
          p.c-banner__text Fusce vehicula dolor arcu, sit amet blandit dolor mollis nec. Donec viverra eleifend lacus, vitae ullamcor. 
      
       
