mixin navigation()
  nav.c-navigation
    .c-navigation__wrapper
      //- Left path of navigation
      .c-navigation__left
        .c-navigation__item
          +link({
            text: 'Works'
          })
        .c-navigation__item
          +link({
            text: 'Services'
          })
        .c-navigation__item
          +link({
            text: 'Contacts'
          })
      //- //- Right path of navigation
      //- .c-navigation__right
      //-   .c-navigation__item
      //-     +link({
      //-       text: 'Log in',
      //-       whiteMode: true
      //-     })
      //-   .c-navigation__item
      //-     +link({
      //-       text: 'Sign up',
      //-       whiteMode: true
      //-     })