* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Обгортка */
.c-banner {
  background-color: black;
  width: 100%;
  max-width: 1440px;
  height: 750px;
  display: flex;
  position: relative;
}
/* Навігація */
/* .c-navigation {
  display: flex;
  /* position: absolute; */
  /* width: 100%;
  max-width: 270px;
  height: 25px;
  text-align: center;
  text-decoration: none;
  color: white;
} */ */
.c-navigation__left {
  display: flex;
  /* padding: 67px 0 0 299px; */
 
}
/* Стиль меню */
#navbar {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 550px;
  text-align: center;
}
#navbar li 
{ display: inline; 
}
#navbar a {
  color: #fff;
  font-family: Source Sans Pro;
  font-size: 16px;
line-height: 22px;
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  width: 100px;
}
#navbar a:hover {
  border-radius: 20px 5px;
  background-color: #0066FF;
}

/* Картинка */
.c-banner__background__image {
  padding-right: 144px;
  position: fixed;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  max-width: 585px;
  right: 0;
  height: 690px;
}