* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: #90a2c6;
}
/* Первая колонка */
.wrapper {
  margin-left: 20%;
  margin-right: 20%;
  border: 10px double #bdabf8;
  padding: 10px;
  font-family: "Open Sans Condensed", sans-serif;
  
}
.container {
  box-sizing: border-box;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}
.block-info {
  border: 3px solid #bdabf8;
  background-color: cadetblue;
  padding-left: 30px;
  padding-right: 15px;
  margin-bottom: 10px;
}
.container-second {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding-left: 30px;
  padding-right: 15px;
  margin-bottom: 10px;
 
  box-sizing: border-box;
}
.myphoto,
h1 {
  text-align: center;
}
.certificates {
  text-align: justify;
}
.quality {
  text-align: justify;
}
.hobby-list {
  display: flex;
  justify-content: space-between;
}
footer {
  color: black;
  border: solid #e698d3;
  background-color: #bdabf8;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
