
body { 
            background-color: #990909;
            font-family: sans-serif;
    
}
    
p { color: #FFFFFF;
    font-size: small, strong;
    border: 1px solid #990909;
   
    padding: 10px;
    text-align: justify;
   margin-top: 0%;
   margin-right: 30%;
   margin-bottom: 0%;
   margin-left: 20%;
}
footer {
    color: #FFFFFF;
    margin: 5px;
    border: 5px solid #E95B11;
    padding: 5px;
    background-color:#E95B11;
    width: 100%;
    text-align: center;
}
main {color: #000000;
    margin: 5px;
    border: 5px solid #E95B11;
    padding: 5px;
    background-color:#E95B11;
    width: 100%;
    text-align: right;}
span {
    color: #E95B11 ; left: auto; 
    border: 5px solid  #7D0909;
    background-color: #7D0909;
    border-bottom-left-radius: 15%;
    border-bottom-width: 20%;
    text-align: left;
    display: inline-block;
    text-align: justify;
    direction: ltr;
    text-decoration: underline;
    margin-top: 0%;
   margin-right: 0%;
   margin-bottom: 0%;
   margin-left: 0%;
}

    
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 170px;
    background-color:#000000;
}

div.gallery:hover {
    border: 5px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    color: #FFFFFF;
    padding: 15px;
    text-align: center;
}
